/BeispielDo.class
/BeispielFor.class
/BeispielWhile.class
/Collatzfolge.class
/Guthabenentwicklung.class
/LoesungenQuadratischeGleichung.class
/Schaltjahr.class
/Vokaltest.class
/ZahlendreieckDo.class
/ZahlendreieckWhile.class
/Zahlentest.class
/ggTEuklid.class
/test.class
